body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6a13e4;
}

div {
    position: relative;
}

p {
    position: absolute; 
    z-index: 10; 
    color: rgb(143, 4, 4);
    left: 10px; 
    top: 10px; 
    margin: 0; 
    font-family: sans-serif; 
    font-size: 14px;
    letter-spacing: 1;
}

img {
    position: absolute;
    z-index: 10;
    top: 250px;
    left: 350px;
    width: 30%;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

button { 
    padding: 5px; 
    margin-top: 10px; 
    font-family: sans-serif; 
    font-size: 14px; 
    background-color: rgb(88, 201, 12); 
    color: rgb(9, 49, 180); 
    letter-spacing: 1;
}
